<header class="header" id="home">
    <div class="menu container">
      <a href="#" class="logo">
        <img src="../assets/img/logoups.jpg" alt="" class="logo-img">  
      </a>
  
      <nav class="navbar">
        <ul>
          <li><a (click)="scrollToSection('home')">Inicio</a></li>
          <li><a (click)="scrollToSection('addCourseSection')">Agregar Curso</a></li>
          <li><a (click)="scrollToSection('courseListSection')">Cursos</a></li>
          <li><a (click)="scrollToSection('contactSection')">Contacto</a></li>
        </ul>
      </nav>
      
    </div>
  
    <div class="header-content container">
      <div class="header-txt">
        <h1>¡Gestiona tu <span>matrícula</span> de forma ágil y sencilla!</h1>
        <p>
          Inscríbete en tus cursos para el próximo semestre. Te ofrecemos una <strong>amplia variedad</strong> de programas educativos. 
          Monitorea tu <strong>progreso académico</strong> con nosotros y accede a una educación de calidad. Todo <em>a solo un clic</em>.
        </p>
        <a href="#addCourseSection" class="btn-1">Comienza Ahora</a>
      </div>
    </div>
  </header>
  

  