<header class="header" id="home">
    <div class="menu container">
        <a href="#" class="logo">
          <img src="../assets/img/logoups.jpg" alt="Logo UPS" class="logo-img">  
        </a>
        <input type="checkbox" id="menu"/>
        <label for="menu">
            <img src="../assets/img/menu.jpeg" class="menu-icono" alt=""> <!-- Icono del menú  -->
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="pages/inicio">Inicio</a></li>
                <li><a href="pages/agregar-cursos">Cursos</a></li>
                <li><a href="pages/cursos">Agregar Curso</a></li>
                <li><a href="pages/acercade">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-content container">
        <div class="header-txt">
            <h1>¡Gestiona tu <span>matrícula</span> de forma ágil y sencilla!</h1>
            <p>
                Inscríbete en tus cursos para el próximo semestre. Te ofrecemos una <strong>amplia variedad</strong> de programas educativos. 
                Monitorea tu <strong>progreso académico</strong> con nosotros y accede a una educación de calidad. Todo <em>a solo un clic</em>.
            </p>
            <a href="pages/agregar-cursos" class="btn-1">Comienza Ahora</a>
        </div>
    </div>
  </header>
  <section class="about container" id="aboutSection">
    <div class="about-img">
         <img src="../assets/img/img1.png" alt="">  <!-- Imagen representativa de la sección "Sobre nosotros" -->
         <img src="" alt="">  <!-- Otra imagen para la sección "Sobre nosotros", posiblemente un gráfico o foto complementaria -->
    </div>
    <div class="about-txt">
        <h2>Más de <span>12 años de experiencia</span> en la educación</h2>
        <p>
            En EduPlus, nos enorgullece tener una trayectoria sólida en el desarrollo de soluciones tecnológicas innovadoras. 
            Con más de 12 años de experiencia, hemos colaborado con diversas industrias, transformando procesos y mejorando resultados a través de herramientas digitales avanzadas.
        </p>
        <a href="pages/informationSection" class="btn-1">Más Información</a>
    </div>
  </section>