
<main class="agregar-cursos container" id="addCourseSection">
    <h2>Agregar Nuevos Cursos</h2>
    <form id="courseForm">
        <input type="text" id="courseName" placeholder="Nombre del Curso" required>
        <input type="text" id="instructorName" placeholder="Nombre del Instructor" required>
        <input type="date" id="startDate" placeholder="Fecha de Inicio" required>
        <input type="text" id="duration" placeholder="Duración (ej. 4 semanas)" required>
        <textarea id="description" placeholder="Descripción" required></textarea>
        <input type="submit" value="Agregar Curso" class="btn-3">
    </form>
</main>
<section class="course-list-section" id="courseListSection">
    <h3>Lista de Cursos Disponibles</h3>
    <ul id="courseList"></ul>
</section>

