<main class="agregar-cursos container" id="addCourseSection">
    <h2>Agregar Nuevos Cursos</h2>
    <form id="courseForm">
        <input type="text" id="courseName" placeholder="Nombre del Curso" required>
        <input type="text" id="instructorName" placeholder="Nombre del Instructor" required>
        <input type="date" id="startDate" placeholder="Fecha de Inicio" required>
        <input type="text" id="duration" placeholder="Duración (ej. 4 semanas)" required>
        <textarea id="description" placeholder="Descripción" required></textarea>
        <input type="submit" value="Agregar Curso" class="btn-3">
    </form>
</main>
<section class="contact container" id="contactSection">
    <h2>Asistencia al Estudiante</h2> <!-- Título de la sección de soporte -->
    <p>¿Tienes dificultades con tu registro? ¿Preguntas sobre los cursos? ¡Estamos aquí para ayudarte!</p>
    <form>
        <input type="email" placeholder="Correo Electrónico" required> <!-- Campo para el correo electrónico -->
        <textarea placeholder="Escribe tu mensaje aquí" required></textarea> <!-- Área de texto para el mensaje -->
        <input type="submit" value="Enviar" class="btn-3"> <!-- Botón para enviar el mensaje -->
    </form> 
</section>

