    <!-- Sección "Acerca de" -->
    <section class="about container" id="aboutSection">
        <div class="about-img"></div>
        <div class="about-txt">
            <h2>Más de <span>12 años de experiencia</span> en la educación</h2> <!-- Título sobre la experiencia -->
            <p>
                En EduPlus, nos enorgullece tener una trayectoria sólida en el desarrollo de soluciones tecnológicas innovadoras. 
                Con más de 12 años de experiencia, hemos colaborado con diversas industrias, transformando procesos y mejorando resultados a través de herramientas digitales avanzadas.
            </p>
            <a href="#informationSection" class="btn-1">Más Información</a> <!-- Botón para obtener más información -->
        </div>
    </section>
  <br>
  <section class="information" id="informationSection">
        <h2>Proceso de Matrícula Simplificado</h2>
        <p>
            Nuestro proceso de matrícula está diseñado para que te inscribas en los cursos de manera rápida y sin complicaciones. Sigue estos sencillos pasos:
        </p>
        <a href="pages/agregar-cursos" class="btn-1">Iniciar Matrícula</a> <!-- Botón para iniciar el proceso de matrícula -->
    </section>
